<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>treatDate</key>
		<string>201406011412</string>
		<key>treatName</key>
		<string>上次使用参数</string>
		<key>treatModel</key>
		<string>M2</string>
		<key>treatWave</key>
		<string>W1</string>
		<key>treatTime</key>
		<string>T1</string>
		<key>treatStrength</key>
		<string>S3</string>
	</dict>
	<dict>
		<key>treatDate</key>
		<string>201406021412</string>
		<key>treatName</key>
		<string>推荐1</string>
		<key>treatModel</key>
		<string>M1</string>
		<key>treatWave</key>
		<string>W4</string>
		<key>treatTime</key>
		<string>T2</string>
		<key>treatStrength</key>
		<string>S2</string>
	</dict>
	<dict>
		<key>treatDate</key>
		<string>201406031412</string>
		<key>treatName</key>
		<string>推荐2</string>
		<key>treatModel</key>
		<string>M1</string>
		<key>treatWave</key>
		<string>W4</string>
		<key>treatTime</key>
		<string>T3</string>
		<key>treatStrength</key>
		<string>S2</string>
	</dict>
</array>
</plist>
