<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>treatDrugQuantity</key>
		<string>7</string>
		<key>treatDate</key>
		<string>201506141140</string>
	</dict>
	<dict>
		<key>treatDrugQuantity</key>
		<string>0</string>
		<key>treatDate</key>
		<string>201506151240</string>
	</dict>
	<dict>
		<key>treatDrugQuantity</key>
		<string>8</string>
		<key>treatDate</key>
		<string>201506151140</string>
	</dict>
	<dict>
		<key>treatDrugQuantity</key>
		<string>0</string>
		<key>treatDate</key>
		<string>201506141235</string>
	</dict>
</array>
</plist>
