<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>treatTime</key>
	<array>
		<string>T0</string>
		<string>T1</string>
		<string>T2</string>
		<string>T3</string>
		<string>T4</string>
	</array>
	<key>treatModel</key>
	<array>
		<string>M0</string>
		<string>M1</string>
		<string>M2</string>
	</array>
	<key>treatWave</key>
	<array>
		<string>W0</string>
		<string>W1</string>
		<string>W2</string>
		<string>W3</string>
		<string>W4</string>
	</array>
	<key>treatStrength</key>
	<array>
		<string>S0</string>
		<string>S1</string>
		<string>S2</string>
		<string>S3</string>
		<string>S4</string>
	</array>
</dict>
</plist>
