<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>treatDrug</key>
		<string>阿司匹林1</string>
		<key>treatDate</key>
		<string>201504161235</string>
		<key>treatName</key>
		<string>推荐2</string>
		<key>treatModel</key>
		<string>right</string>
		<key>treatWave</key>
		<string>W4</string>
		<key>treatTime</key>
		<string>15</string>
		<key>treatStrength</key>
		<string>S2</string>
	</dict>
	<dict>
		<key>treatDrug</key>
		<string>0</string>
		<key>treatDate</key>
		<string>201504161238</string>
		<key>treatName</key>
		<string>推荐2</string>
		<key>treatModel</key>
		<string>right</string>
		<key>treatWave</key>
		<string>W4</string>
		<key>treatTime</key>
		<string>15</string>
		<key>treatStrength</key>
		<string>S2</string>
	</dict>
	<dict>
		<key>treatDrug</key>
		<string>阿司匹林3</string>
		<key>treatDate</key>
		<string>201504161240</string>
		<key>treatName</key>
		<string>推荐2</string>
		<key>treatModel</key>
		<string>right</string>
		<key>treatWave</key>
		<string>W4</string>
		<key>treatTime</key>
		<string>15</string>
		<key>treatStrength</key>
		<string>S2</string>
	</dict>
	<dict>
		<key>treatDrug</key>
		<string>阿司匹林1</string>
		<key>treatDate</key>
		<string>201504161242</string>
		<key>treatName</key>
		<string>推荐2</string>
		<key>treatModel</key>
		<string>right</string>
		<key>treatWave</key>
		<string>W4</string>
		<key>treatTime</key>
		<string>15</string>
		<key>treatStrength</key>
		<string>S2</string>
	</dict>
	<dict>
		<key>treatDrug</key>
		<string>阿司匹林1</string>
		<key>treatDate</key>
		<string>201504161244</string>
		<key>treatName</key>
		<string>推荐2</string>
		<key>treatModel</key>
		<string>right</string>
		<key>treatWave</key>
		<string>W4</string>
		<key>treatTime</key>
		<string>15</string>
		<key>treatStrength</key>
		<string>S2</string>
	</dict>
	<dict>
		<key>treatDrug</key>
		<string>0</string>
		<key>treatDate</key>
		<string>201504161250</string>
		<key>treatName</key>
		<string>推荐2</string>
		<key>treatModel</key>
		<string>right</string>
		<key>treatWave</key>
		<string>W4</string>
		<key>treatTime</key>
		<string>15</string>
		<key>treatStrength</key>
		<string>S2</string>
	</dict>
	<dict>
		<key>treatDrugQuantity</key>
		<string>4</string>
		<key>treatDrug</key>
		<string>阿司匹林1</string>
		<key>treatDate</key>
		<string>201504161246</string>
		<key>treatName</key>
		<string>推荐2</string>
		<key>treatModel</key>
		<string>right</string>
		<key>treatWave</key>
		<string>W4</string>
		<key>treatTime</key>
		<string>15</string>
		<key>treatStrength</key>
		<string>S2</string>
	</dict>
	<dict>
		<key>treatDrugQuantity</key>
		<string>5</string>
		<key>treatDrug</key>
		<string>阿司匹林1</string>
		<key>treatDate</key>
		<string>201504161250</string>
		<key>treatName</key>
		<string>推荐2</string>
		<key>treatModel</key>
		<string>right</string>
		<key>treatWave</key>
		<string>W4</string>
		<key>treatTime</key>
		<string>15</string>
		<key>treatStrength</key>
		<string>S2</string>
	</dict>
	<dict>
		<key>treatDrugQuantity</key>
		<string>3</string>
		<key>treatDrug</key>
		<string>阿司匹林1</string>
		<key>treatDate</key>
		<string>201504161255</string>
		<key>treatName</key>
		<string>推荐2</string>
		<key>treatModel</key>
		<string>right</string>
		<key>treatWave</key>
		<string>W4</string>
		<key>treatTime</key>
		<string>15</string>
		<key>treatStrength</key>
		<string>S2</string>
	</dict>
</array>
</plist>
